body{
    font-family:Verdana, Georgia;
    background-color:#FAF9F6;
    color:#5C4033;
}
.przepis {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.przepis img {
    width: 12vw;
    margin-right: 10px;
}
.przepisOpis {
    max-width: 600px;
}