body{
    font-family:Verdana, Georgia;
    background-color:#FAF9F6;
    color:#5C4033;
}
header{
    background-color:#A0522D;
    color:white;
    text-align:center;
}
footer{
    background-color:#CD853F;
    text-align:center;
    padding:10px;
}
main{
    width:65;
    margin:auto;
}
aside{
    width:30%;
    float:right;
}
a{
    color:#FF8C00;
    text-decoration:none;
}
a:hover{
    color:#FF0000;
}
table{
    border:1px brown solid;
}
table td{
    text-align:left;
}
table td:hover{
    background-color:#f0f0f0;
    color:#333;
}
form label{
    text-align:left;
}
input[type="text"], area{
    border:1px solid brown;
}
button{
    background-color:orange;
    color:white;
}
.przepis {
    margin-bottom: 20px;
}
.przepis img {
    width: 12vw;
    margin-right: 10px;
    box-shadow: 5px 10px 10px black;
}
.przepisOpis {
    max-width: 600px;
}