*{
    margin:0;
}
body{
    font-family:Verdana, Georgia;
    background-color:#FAF9F6;
    color:#5C4033;
}
header{
    background-color:#A0522D;
    color:white;
    text-align:center;
}
nav{
    display:flex;
    justify-content:center;
    gap:1vw;
    padding:10px;
}
.linia{
    height:auto;
    border:1px solid black;
}
footer{
    background-color:#CD853F;
    text-align:center;
    padding:10px;
    clear:both;
}
main{
    width:65%;
    margin:auto;
}
main h2{
    text-align:center;
}
aside{
    width:30%;
    float:right;
    margin-top:10vh;
    margin-right:1vw;
}
#popularnePrzepisy{
    list-style-position: inside;
    text-align:center;
    margin-left:14.5vw;
}
a{
    color:#FF8C00;
    text-decoration:none;
}
a:hover{
    color:#FF0000;
}
table{
    border:1px brown solid;
}
table td{
    text-align:left;
}
table td:hover{
    background-color:#f0f0f0;
    color:#333;
}
form{
    text-align:right;
}
form label{
    text-align:left;
}
input[type="text"], textarea{
    border:1px solid brown;
    width:50%;
    height:2vh;
    border-radius:10px;
}
button{
    background-color:orange;
    color:white;
    width:51%;
    border-radius:10px;
}
.lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}
.przepis {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border:2px #FF8C00 solid;
    padding-top:10px;
}
.przepis img {
    width: 14vw;
    height: 16vh;
    margin-bottom: 10px;
    border-radius:10px;
    border:1px solid black;
}
.przepisOpis {
    max-width: 400px;
}
.przepisOpis p{
    margin:10px;
}
.kategoria h1{
    text-align:center;
}